<!DOCTYPE html>
<html ng-app="deltaSocial">
<head>

    <!-- This is an HQ note -->

    <title>Delta Airlines Social - DigitalCrafts class</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/facebook.css">
    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>  
    <script type="text/javascript" src="js/bootstrap.min.js"></script>  
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/instagram.js"></script>
    <script src="js/facebookController.js"></script>
    <script type="text/javascript" src="js/twitterController.js"></script>
    <script type="text/javascript" src="js/youtubeController.js"></script>



</head>
<body>

    <div id="wrapper">
        <div id="delta-controller" style="position:relative;">
            <div class="container">
                
                <!-- SOCIAL MEDIA FEEDS -->
                <div class="row">
                      <!-- TITLE -->
                    <div class="col-md-12">
                        <h1>Make my Delta miracle happen</h1>
                    </div>

                    <!-- ************  FACEBOOK COL  ************ -->
                    <div class="FB col-md-4" ng-controller="facebookCtrl">
                        <h2 class="facebook"> Facebook</h2>
                        <div class="posts row" ng-repeat="post in posts">
                            <img src="{{post.picture}}" class="col-md-3">
                            <div class="col-md-9">
                                <span class="bold">{{post.from.name}}:</span> {{post.message}}
                            </div>
                        </div>
                    </div>

                    <!-- ************  INSTAGRAM COL  ************ -->
                    <div class="instagram col-sm-4" ng-controller="instagramController">
                        <div id="instagram-modal">
                            <h2>Instagram</h2>
                        </div>
                        <div id="instagram-slider">
                            <div id="instagram-carousel" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="{{firstImage}}">
                                    </div>
                                    <div class="item" ng-repeat="images in imageUrl">
                                        <img src="{{images}}" alt="...">
                                        <div class="carousel-caption">
                                            {{index}}
                                        </div>
                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#instagram-carousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#instagram-carousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>                            
                            </div>
                        </div>
                    </div>

                    <!-- ************  TWITTER COL  ************ -->   
                    <h2 id="twitter-title">Twitter</h2>
                    <div class="col-md-4" id="twitter-wrapper" ng-controller="twitterController">   
                        <div class="delta-tweets row" ng-repeat="tweet in tweets">
                            <img src="{{tweet.user.profile_image_url}}" class="col-md-3">
                            <div class="col-md-9">
                                <h5>{{tweet.user.name}}</h5>
                                <span class="bold">{{ tweet.text }}</span>
                            </div> 
                            <hr />
                        </div>

                    </div>
                </div>
    
            <!--********** YOUTUBE VIDEOS ROW **********-->
                <div id="youtube-slider" class="row">
                    <div class="col-md-12" id="youtube-wrapper" ng-controller="youtubeController">
                        <div id="delta-youtube">
                            <div ng-repeat="video in suggestedVideosArray" class="col-md-4 more-videos-previews">
                                <div  class ="more-thumbnails">
                                    <a ng-href="{{video.url}}">
                                        <img ng-src="{{video.thumb}}">
                                    </a>
                                </div>
                                <div class="thumbnail-text">
                                    <p class="video-title">{{video.vidtitle}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</body>



