/* line 3, ../compass/sass/facebook.scss */
<<<<<<< Updated upstream
#wrapper h1 {
  text-align: center;
=======
#wrapper #social-media-feed {
  margin-bottom: 40px;
>>>>>>> Stashed changes
}
/* line 6, ../compass/sass/facebook.scss */
#wrapper #delta-controller {
  margin: 50px;
}
<<<<<<< HEAD
<<<<<<< Updated upstream
/* line 9, ../compass/sass/facebook.scss */
#wrapper #delta-controller h2 {
=======
=======
>>>>>>> Stashed changes
/* line 5, ../compass/sass/facebook.scss */
#wrapper #delta-controller h1 {
  text-align: center;
}
/* line 8, ../compass/sass/facebook.scss */
#wrapper #delta-controller .facebook {
  position: absolute;
>>>>>>> c147d7efbed57f072fea7c1895f9fc8ae7afff19
  margin-left: 25px;
  display: inline;
}
<<<<<<< HEAD
/* line 13, ../compass/sass/facebook.scss */
#wrapper #delta-controller .container {
=======
/* line 14, ../compass/sass/facebook.scss */
#wrapper #delta-controller .FB {
<<<<<<< Updated upstream
>>>>>>> c147d7efbed57f072fea7c1895f9fc8ae7afff19
  overflow: scroll;
  height: 60vh;
  position: relative;
  top: 70px;
}
<<<<<<< HEAD
/* line 18, ../compass/sass/facebook.scss */
#wrapper #delta-controller .container .posts {
=======
/* line 19, ../compass/sass/facebook.scss */
=======
=======
/* line 8, ../compass/sass/facebook.scss */
#wrapper #delta-controller h1 {
  text-align: center;
}
/* line 13, ../compass/sass/facebook.scss */
#wrapper #delta-controller .fb-post {
>>>>>>> bd781c0489a8becbed0f20dcbf9c408818435a26
  overflow: scroll;
  height: 60vh;
}
<<<<<<< HEAD
/* line 62, ../compass/sass/facebook.scss */
=======
/* line 18, ../compass/sass/facebook.scss */
>>>>>>> bd781c0489a8becbed0f20dcbf9c408818435a26
>>>>>>> Stashed changes
#wrapper #delta-controller .FB .posts {
>>>>>>> c147d7efbed57f072fea7c1895f9fc8ae7afff19
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
<<<<<<< HEAD
<<<<<<< Updated upstream
/* line 24, ../compass/sass/facebook.scss */
#wrapper #delta-controller .container .bold {
=======
/* line 26, ../compass/sass/facebook.scss */
=======
/* line 69, ../compass/sass/facebook.scss */
=======
/* line 25, ../compass/sass/facebook.scss */
>>>>>>> bd781c0489a8becbed0f20dcbf9c408818435a26
>>>>>>> Stashed changes
#wrapper #delta-controller .FB .bold {
>>>>>>> c147d7efbed57f072fea7c1895f9fc8ae7afff19
  font-weight: bold;
}
