/* line 1, ../compass/sass/base.scss */
* {
  border: none;
}

/* line 3, ../compass/sass/facebook.scss */
#wrapper #social-media-feed {
  margin-bottom: 40px;
}
/* line 6, ../compass/sass/facebook.scss */
#wrapper #delta-controller {
  margin: 50px;
}
/* line 8, ../compass/sass/facebook.scss */
#wrapper #delta-controller h1 {
  text-align: center;
}
/* line 13, ../compass/sass/facebook.scss */
#wrapper #delta-controller .fb-post {
  overflow: scroll;
  height: 60vh;
}
/* line 18, ../compass/sass/facebook.scss */
#wrapper #delta-controller .FB .posts {
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
/* line 25, ../compass/sass/facebook.scss */
#wrapper #delta-controller .FB .bold {
  font-weight: bold;
}

/* line 1, ../compass/sass/twitter.scss */
* {
  border: none;
}

/* line 6, ../compass/sass/twitter.scss */
#tweets-wrapper {
  overflow: scroll;
  height: 60vh;
  position: relative;
}
/* line 10, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets {
  padding: 10px 0;
  padding-left: 5px;
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
/* line 16, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets .prof-img {
  float: left;
  margin-left: -50px;
}
/* line 20, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets .tweet-content {
  margin-left: 55px;
}
/* line 24, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets a:hover span {
  text-decoration: none;
}
/* line 28, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets .twitter-user-name {
  display: block;
  font-weight: bold;
}
/* line 31, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets .twitter-user-name span {
  color: #ddd;
  text-decoration: none;
  font-size: 12px;
}
/* line 37, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets img {
  border-radius: 15px;
}
/* line 41, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets:hover {
  background: #F5F8FA;
}

/* line 46, ../compass/sass/twitter.scss */
.jcarousel {
  position: relative;
  overflow: hidden;
}
/* line 49, ../compass/sass/twitter.scss */
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 56, ../compass/sass/twitter.scss */
.jcarousel ul li {
  width: 300px;
  float: left;
}

/* line 63, ../compass/sass/twitter.scss */
#youtube-slider {
  margin: 30px auto;
  position: relative;
  border: 10px solid #F5F8FA;
  border-radius: 5px;
}
/* line 69, ../compass/sass/twitter.scss */
#youtube-slider ul li {
  padding: 20px;
}
/* line 71, ../compass/sass/twitter.scss */
#youtube-slider ul li img {
  width: 100%;
}
/* line 74, ../compass/sass/twitter.scss */
#youtube-slider ul li .video-title {
  background: #eee;
  font-family: Helvetica, Arial, serif;
  font-size: 14px;
  padding: 12px;
  height: 57px;
}

/* line 1, ../compass/sass/youtube.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/instagram.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/header.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/footer.scss */
* {
  border: none;
}
