/* line 1, ../compass/sass/base.scss */
* {
  border: none;
}

/* line 3, ../compass/sass/facebook.scss */
#wrapper #social-media-feed {
  margin-bottom: 40px;
}
/* line 6, ../compass/sass/facebook.scss */
#wrapper #delta-controller {
  margin: 50px;
}
/* line 8, ../compass/sass/facebook.scss */
#wrapper #delta-controller #nav-bar {
  margin: auto;
}
/* line 10, ../compass/sass/facebook.scss */
#wrapper #delta-controller #nav-bar ul {
  height: 50px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}
/* line 16, ../compass/sass/facebook.scss */
#wrapper #delta-controller #nav-bar ul li {
  float: left;
  padding: 0px 0px 0px 15px;
}
/* line 19, ../compass/sass/facebook.scss */
#wrapper #delta-controller #nav-bar ul li a {
  color: black;
  font-weight: normal;
  line-height: 50px;
  padding: 0 25px;
  margin: 0px;
  text-decoration: none;
  text-align: center;
}
/* line 27, ../compass/sass/facebook.scss */
#wrapper #delta-controller #nav-bar ul li a a:hover {
  background: #060;
  color: white;
  text-decoration: none;
}
/* line 33, ../compass/sass/facebook.scss */
#wrapper #delta-controller #nav-bar ul li ul {
  display: none;
  height: auto;
  position: absolute;
  width: 200px;
  padding: 0px;
  margin: 0px;
  border: none;
}
/* line 43, ../compass/sass/facebook.scss */
#wrapper #delta-controller #nav-bar ul li:hover ul {
  display: block;
}
/* line 48, ../compass/sass/facebook.scss */
#wrapper #delta-controller h1 {
  text-align: center;
}
/* line 53, ../compass/sass/facebook.scss */
#wrapper #delta-controller .fb-post {
  overflow: scroll;
  height: 60vh;
}
/* line 58, ../compass/sass/facebook.scss */
#wrapper #delta-controller .FB .posts {
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
/* line 65, ../compass/sass/facebook.scss */
#wrapper #delta-controller .FB .bold {
  font-weight: bold;
}

/* line 1, ../compass/sass/twitter.scss */
* {
  border: none;
}

/* line 6, ../compass/sass/twitter.scss */
#tweets-wrapper {
  overflow: scroll;
  height: 60vh;
  position: relative;
}
/* line 10, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets {
  padding: 10px 0;
  padding-left: 5px;
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
/* line 16, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets .prof-img {
  float: left;
  margin-left: -50px;
}
/* line 20, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets .tweet-content {
  margin-left: 55px;
}
/* line 24, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets a:hover span {
  text-decoration: none;
}
/* line 28, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets .twitter-user-name {
  display: block;
  font-weight: bold;
}
/* line 31, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets .twitter-user-name span {
  color: #ddd;
  text-decoration: none;
  font-size: 12px;
}
/* line 37, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets img {
  border-radius: 15px;
}
/* line 41, ../compass/sass/twitter.scss */
#tweets-wrapper .delta-tweets:hover {
  background: #F5F8FA;
}

/* line 1, ../compass/sass/youtube.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/instagram.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/header.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/footer.scss */
* {
  border: none;
}
