/* line 1, ../compass/sass/base.scss */
* {
  border: none;
}

/* line 3, ../compass/sass/facebook.scss */
#wrapper #delta-controller {
  margin: 50px;
}
/* line 5, ../compass/sass/facebook.scss */
#wrapper #delta-controller h1 {
  text-align: center;
}
/* line 8, ../compass/sass/facebook.scss */
#wrapper #delta-controller .facebook {
  position: absolute;
  margin-left: 25px;
  display: inline;
  top: 70px;
  left: 85px;
}
/* line 16, ../compass/sass/facebook.scss */
#wrapper #delta-controller .FB {
  overflow: scroll;
  height: 70vh;
  position: relative;
  top: 70px;
}
/* line 22, ../compass/sass/facebook.scss */
#wrapper #delta-controller .FB .posts {
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
/* line 29, ../compass/sass/facebook.scss */
#wrapper #delta-controller .FB .bold {
  font-weight: bold;
}

/* line 1, ../compass/sass/twitter.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/youtube.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/instagram.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/header.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/footer.scss */
* {
  border: none;
}
