/* line 1, ../compass/sass/base.scss */
* {
  border: none;
}

/* line 3, ../compass/sass/facebook.scss */
#wrapper #delta-controller {
  margin: 50px;
}
/* line 6, ../compass/sass/facebook.scss */
#wrapper #delta-controller h2 {
  margin-left: 25px;
}
/* line 10, ../compass/sass/facebook.scss */
#wrapper #delta-controller .FB {
  overflow: scroll;
  height: 60vh;
  width: 30vw;
}
/* line 15, ../compass/sass/facebook.scss */
#wrapper #delta-controller .FB .posts {
  margin: 10px;
}
/* line 19, ../compass/sass/facebook.scss */
#wrapper #delta-controller .FB .bold {
  font-weight: bold;
}

/* line 1, ../compass/sass/twitter.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/youtube.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/instagram.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/header.scss */
* {
  border: none;
}

/* line 1, ../compass/sass/footer.scss */
* {
  border: none;
}
