/* line 1, ../compass/sass/twitter.scss */
* {
  border: none;
}

/* line 6, ../compass/sass/twitter.scss */
#twitter-wrapper {
  overflow: scroll;
  height: 60vh;
}
/* line 10, ../compass/sass/twitter.scss */
#twitter-wrapper .delta-tweets {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}
/* line 15, ../compass/sass/twitter.scss */
#twitter-wrapper .delta-tweets h5 {
  font-weight: bold;
}
